<%- include("./partials/header") -%>

  <div class="box" id="heading">
    <h1 class="listh1">
      <%= listTitle.split("@")[0] %>
    </h1>
  </div>

  <div class="box">

    <% newListItems.forEach(function(item){ %>
      <div class="card"> <!-- Start of card -->
        <div class="card-content">
          <h2>
            <%= item.name %>
          </h2>
          <p>
            <%= item.description %>
          </p>
        </div>
      </div> <!-- End of card -->
      <% }) %>

        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New item title" autocomplete="off">
          <input type="text" name="newItemDescription" placeholder="New item description" autocomplete="off">
          <button class="addButton" type="submit" name="list" value="<%=listTitle%>">+</button>
        </form>
  </div>

  <%- include("./partials/footer") -%>